:root {
  --primary-color: #ff8966;
  --text-primary: #757575;
  --text-bold: #3e3e3e;
  --online-color: #3abf38;
  --bg-primary: #fff;
  --g-secondary: #f4f4f4;
}

* {
  font-family: "Nunito", sans-serif;
}
